<div class="member-frame">

  <figure>
    <img alt="Photo of {{person.name}}"
         [src]="person.photo">
  </figure>

  <div class="member-details">


    <div class="dtl-names">
      <p><span>{{person.name}}</span></p>
      <p>{{person.position}}</p>
    </div>

    <div *ngIf="checkContact()"
         class="dtl-social">
      <a class="link-mail"
         *ngIf="checkMail()"
         href="{{person.contact.email}}">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
      <a class="link-fb"
         *ngIf="checkFb"
         href="{{person.contact.facebook}}">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
      <a class="link-insta"
         *ngIf="checkInsta()"
         href="{{person.contact.instagram}}">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </div>

  </div>
</div>
