@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables',
  '~bootstrap/scss/mixins';

@import "~scss/mixins";
@import "~scss/variables";

$sq-photo-width: 260px;
$color1: #DDDDDD;

.member-frame {
  width: $sq-photo-width;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  margin:{
    top: 20px;
    bottom: 20px;
    left: 10px;
    right: 10px;
  }

  figure {
    width: 100%;
    height: $sq-photo-width;
    margin-bottom: 0px;

    img {
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

}


.member-details {
  @extend %flx;
  @include flx-dir(column);

          align-items: center;
          justify-content:space-around;

  width: 100%;
  height: 120px;

  text-align: center;

  padding: {
    top: 1.2em;
    bottom: 1.2em;
    left: 1em;
    right: 1em;
  }

}

.dtl-names {
  @extend %flx;
  @include flx-dir(column);

  // flex-grow: 2;
  width: 100%;


  p {
    margin-bottom: 0px;
    span {
      font-size:17px;
      font-weight: $gt-w-bold;
    }
  }
}

.dtl-social {
  @extend %flx;
  @include flx-dir(row);

  // flex-grow: 0;

  // margin:{
  //   right: 10px;
  // }

  a {
    margin: {
      left: .5em;
      right: .5em;
    }
    color: inherit;
    font-size: 20px;
    text-decoration: none;

    &:hover {
      color: lighten(black, 50);
    }
  }

  .link-fb {
    color: $fb-blue;
    &:hover {
      color: lighten($fb-blue, 20);
    }

  }

  .link-insta {
    color: $insta-pink;
    &:hover {
      color: lighten($insta-pink, 20);
    }
  }
}







@include media-breakpoint-up(sm) {

}

//  for tablet
@include media-breakpoint-up(md) {

}


// for desktop
@include media-breakpoint-up(lg) {

}
