// imports
@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables',
  '~bootstrap/scss/mixins';

@import "~scss/mixins";
@import "~scss/variables";

.team-flx {
  @extend %flx;
  @include flx-dir(column);
}


.header-team {
  position: relative;

  &:after {
    display: block;
    position: absolute;
    background-color: $whitish-gray;
    width: 6em;
    height: 1em;
    z-index: -4;

    top: .5em;
    left: -.3em;

    content:"";


  }
}

.team-btn {
  font: {
    size: inherit;
    weight: $gt-w-bold;
  }

  align-self: center;
  min-width: 135px;
  margin:{
    top: 25px;
  }

  padding:{
    top: .7em;
    bottom: .7em;
    right: 1.5em;
    left: 1.5em;
  }
}


/* For desktop: */
@include media-breakpoint-up(lg) {

}
