<div class="content-wrapper team-flx">
  <div class="text-wrapper .test">
    <h2 class="section-header header-team">PDKKI Team</h2>
    <p class="">Inilah tim di balik serangkaian acara-acara PDKKI Melbourne</p>
  </div>
  <member-list></member-list>
  <button type ="button" class="btn team-btn"
          (click)="showTeam()">{{this.btnMsgTeam}}</button>
</div>
