<!-- <div class="slider-wrapper">

    <button class="slider-btn slider-prev" (click)="prevSlide()"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></button>
    <button class="slider-btn slider-next" (click)="nextSlide()"><i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i></button>

  <div class="slides-frame" *ngFor="let photo of photos; index as i" >
    <div class="slider-item" *ngIf="this.curIndex===i">
      <img class="slider-image" [src]="photo.path">
      <div class="slider-title">
        <span>{{photo.title}}</span>
      </div>
    </div>
  </div>
</div> -->

<ngx-carousel
[inputs]="carouselTile"
(carouselLoad)="carouselTileLoad($event)">

<ngx-tile NgxCarouselItem *ngFor="let image of images" (click)="onImageClickedFn (image)">
  <div class = "tile-images">
    <img [src] = "image.image" class = "slider-image">
  </div>
  <h3>{{image.title}}</h3>

</ngx-tile>

<button NgxCarouselPrev class='leftRs'>&lt;</button>
<button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>
