
.fillheight {
  min-height: 100%; 
  width: auto;
}

.fillwidth {
  min-width: 100%; 
  height: auto;
}

h2{
  min-height: 200px;
  background-color: #ccc;
  text-align: center;
  line-height: 200px;
}
.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  left: 0;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  right: 0;
}

.slider-image {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;

}


/*.slider-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: auto;
  max-height: 100%;

  background-color: #1C1C1C;
}

.slider-btn {
  background-color: rgba(200,200,200,1);
  border: none;
  border-radius: 100%;
  height: 45px;
  width: 45px;

  display: table-cell;
  vertical-align: middle;
  text-align: center;

  outline: none;
  cursor: pointer;
}



.slider-prev {
  position: absolute;
  bottom: 50%;
  left: 15px;
  z-index: 99;
}

.slider-next {
  position: absolute;
  bottom: 50%;
  right: 15px;
  z-index: 99;
}

.slides-frame {
  position: relative;
  width: 100%;
  height: auto;
}

.slide-active {
  display: block;
  width: 100%;
  height: 100%;
}

.slide-inactive {
  display: none;
}
.slider-item {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.slider-image {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;

}

.slider-title {
  position: absolute;
  background-color: white;
  bottom: 5%;
  left: 5%;
  font-size: 30px;
}


/* For tablets: */
/*@media only screen and (min-width: 600px) {


  }*/



  /* For desktop: */
/*@media only screen and (min-width: 768px) {

  }*/
