@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables',
  '~bootstrap/scss/mixins';

@import "~scss/mixins";
@import "~scss/variables";



.team_members {
  @extend %flx;
  @include flx-dir(row);

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  // margin-top: 1.5em;
  overflow-y: hidden;

}


/* For tablets: */
@media only screen and (min-width: 600px) {


}



/* For desktop: */
@media only screen and (min-width: 768px) {
  .team_members {

  }

}
