/* for mobile */

.full-view {
  min-height: 100vh;
  min-width:  100%;
}

.content-wrapper {
  max-width: 100vw;

}

.text-wrapper {
  max-width: 1240px;
}

.text-wrapper ul li {
  list-style-position: inside;
}

.text-wrapper a {color: inherit;}
.text-wrapper a:visited { color: inherit}

.section-header {
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.section-header-2
{
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 25px;
}

.row {

}




#landing-home { background-image:url("/assets/images/splash1.jpg"); }

.banner {
  position: absolute;
  bottom: 10%;
}

.banner-logo {
  display: block;
  height: 120px;

  margin-top: 25px;
  margin-bottom: 30px;
}

.banner-logo img {
  height: 100%;
  width: auto;
}

.banner-title {
  font-size: 40px;
}

#landing-about {
  /*background-image: url("/assets/images/PDKKI_transparent.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;*/
}

#landing-activities {}

.act-list {
  margin-top: 1.5em;
  margin-bottom: 1.5em;

}

#landing-team { }


#landing-contact { }

.h-icon-wrapper
{
  text-align: center;
}

.contact-list
{
  margin-top: 2em;
  margin-bottom: 2em;
}

.contact-list a {
  text-decoration: none;
}


/*
  NOTE: not working, somehow the 2 div for the contacts won't
        resize according to content even if i set it into inline block
*/
.ct-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center
}

.ct-icon
{
  display: inline-block;
  width: 2.5em;
}

.ct-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ct-col-50 {
  width: 100%;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  .ct-col-50 {
    width: 100%;
  }


}



/* For desktop: */
@media only screen and (min-width: 768px) {
  #landing-about {
    height: 500px;
  }
  #landing-activities {
    height: 550px;
  }

  #landing-team {

  }



  .content-wrapper {

  }

  .banner-logo {
    display: block;
    height: 150px;

    margin-top: 25px;
    margin-bottom: 50px;
  }

  .banner-title {
    font-size: 100px;
  }

  .row-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }


  .act-container {

  }

  .slider-frame {
    width: 550px;
    height: 550px;

    max-width: 45%;
  }

  .act-right
  {
    width: 50%;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 5%;
  }

  .h-icon-wrapper {
    display: table-cell;
    width: 300px;

    vertical-align: top;

  }

  .ct-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .ct-col-50 {
    width: 100%;
  }

  .ct-left {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 400px;
            flex: 2 1 400px;
    padding-right: 40px;
  }

  .ct-right
  {
    -webkit-box-flex: 0;
        -ms-flex: 0 2 400px;
            flex: 0 2 400px;
  }

  .text-wrapper {
    display: inline-block;
    max-width: 1280px;
  }
}

/*for contact list*/
@media only screen and (min-width: 1200px) {
  .ct-col-50 {
    width: 100%;
  }
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
