<!-- <div class=""> -->
  <!-- buat slideshow/carousel -->
  <!-- <div class=""> -->
    <!-- <slider></slider> -->
    <!-- </div> -->
  <!-- <div class="text-wrapper tx-white lh-1">
    <h2 class="section-header">Activities</h2>
    <p>PDKKI Melbourne mengadakan kegiatan Persekutuan Doa (PD) rutin seminggu sekali yang mencakup doa,
      pujian dan penyembahan, misa, adorasi serta pengajaran/sharing/diskusi. Di samping itu, beberapa kegiatan
      lain PDKKI yang dapat membangun dan membentuk kehidupan rohani para anggotanya untuk mencapai tujuan di atas adalah:</p>
    <div class="">
      <ul>
        <li>Kebangunan Rohani Katolik (KRK)</li>
        <li>Malam Penyegaran Rohani (MPR)</li>
        <li>Seminar Hidup Baru Dalam Roh (SHB)</li>
        <li>Retret Tahunan PDKKI Melbourne</li>
      </ul>
    </div>
    <a class="link-1" href="#">More on activities</a>
  </div>

</div>
-->


<div class="content-wrapper row-section">

  <div class="text-wrapper tx-white lh-1 act-right">
    <h2 class="section-header">{{currentActivity.title}}</h2>
    <!-- <img [src] ="currentActivity.image"> -->
    <p>
      {{currentActivity.description}}
    </p>

    <br>
  </div>



    <!-- <div class="text-wrapper tx-white lh-1 act-right">
      <h2 class="section-header">Activities</h2>
      <p>PDKKI Melbourne mengadakan kegiatan Persekutuan Doa (PD) rutin seminggu sekali yang mencakup doa,
        pujian dan penyembahan, misa, adorasi serta pengajaran/sharing/diskusi. Di samping itu, beberapa kegiatan
        lain PDKKI yang dapat membangun dan membentuk kehidupan rohani para anggotanya untuk mencapai tujuan di atas adalah:</p>
      <div class="act-list">
        <ul>
          <li>Kebangunan Rohani Katolik (KRK)</li>
          <li>Malam Penyegaran Rohani (MPR)</li>
          <li>Seminar Hidup Baru Dalam Roh (SHB)</li>
          <li>Retret Tahunan PDKKI Melbourne</li>
        </ul>
      </div>
      <a class="link-1" href="#">More on activities</a>
    </div> -->



    <div>
      <slider [images] = "activities" (onImageClicked) = "setCurrentActivity($event)"></slider>
    </div>

  </div>
  <!-- <activities-view></activities-view> -->
