/* font imports */
@font-face {
    font-family: "GT Walsheim";
    src: url("/assets/fonts/GT-Walsheim-Regular.otf") format("opentype");
}

@font-face {
    font-family: "GT Walsheim";
    font-weight: lighter;
    src: url("/assets/fonts/GT-Walsheim-Light.otf") format("opentype");
}

@font-face {
    font-family: "GT Walsheim";
    font-weight: bold;
    src: url("/assets/fonts/GT-Walsheim-Medium.otf") format("opentype");
}
