/*
_mixins.scss
contains the mixins and placeholder classes that will be used
*/

// placeholder classes

%flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

%bg-fullscroll {
  background: {
    position: center;
    size: cover;
    repeat: no-repeat;
  }
}

%full-view {
  min-height: 100vh;
  min-width:  100%;
}


%padded {
  padding: {
    top: 5%;
    bottom: 5%;
    left: 10%;
    right: 10%;
  }
}


// mixins

// mixin to prefix flex-direction
@mixin flx-dir($dir: row) {

  // if row
  @if $dir == row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;

  }
  // row-reverse
  @else if $dir == row-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
  }
  // column
  @else if $dir == column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
  // column-reverse
  @else if $dir == column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
  }
  // sets default to column if nothing is passed into dir
  @else {
    -webkit-box-orient: column;
    -webkit-box-direction: normal;
  }

  -ms-flex-direction: $dir;
      flex-direction: $dir;

}
