/*
_variables.scss
partials containing variables used in the project

*/


// the main font and substitute
$gt-walsh: "GT Walsheim", sans-serif;

// colors
$black-grey: #3C3C3C;
$black-blue: #3C4454;
$black: #1E1E1E;
$grey: #7F8293;
$gray-brown: #C8CDD2;
$insta-pink: #e4405f;
$fb-blue: #3b5999;
$whitish-gray: #EFEFEF;

$fa-huge: 175px; // or 175px
$lh-1: 2em;


// font-weight for GT-Walsheim
// these are the ones that are in the font package
$gt-w-bold: bolder;
$gt-w-normal: normal;
$gt-w-lighter: lighter;
