// imports
@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables',
  '~bootstrap/scss/mixins';

@import "./mixins";
@import "./variables";
@import "./fonts";




#app-main
{
  min-width: 100%;
  min-height: 100%;

  /* default font for app*/
  font-family: $gt-walsh;
}

.content-wrapper {
  max-width: 100vw;
}

.text-wrapper {
  // max-width: 1240px;
  line-height: $lh-1;
  text-align: justify;
  // margin-bottom: 4.5em;
  ul li {
    list-style-position: inside;
  }

  a {
    color: inherit;
    &:visited {
      color: inherit;
    }
  }
}

.section-header {

  font: {
    size: 30px;
    weight: $gt-w-bold;
  }

  margin: {
    top: 1em;
    bottom: 1em;
  }

}

.section-header-2 {
  font: {
    size: 30px;
    weight: $gt-w-bold;
  }

  margin: {
    top: 1em;
    bottom: 1em;
  }
  &:after{
    display: block;
    margin-top: 7px;
    border-top: 4px dotted $gray-brown;
    content:"";
  }
}

/*
Bootstrap media query

less than 576
@include media-breakpoint-up(xs) { ... }

phone 576 and up
@include media-breakpoint-up(sm) { ... }

tablets 768 and up
@include media-breakpoint-up(md) { ... }

desktop 992 and up
@include media-breakpoint-up(lg) { ... }

large desktop 1200 up
@include media-breakpoint-up(xl) { ... }
*/

@include media-breakpoint-up(sm) {

}
/* For tablets: */
@include media-breakpoint-up(md) {

}
/* For desktop: */
@include media-breakpoint-up(lg) {
  .text-wrapper {
    font-size: 1.2em;
  }

  .section-header {
    font-size: 50px;
  }

  .section-header-2 {
    &:hover {
      color: white;
    }

    &:hover > .anim-nudge {
      -webkit-animation: nudge .7s ease-in-out;
              animation: nudge .7s ease-in-out;
    }
  }

  .anim-nudge:hover {
    -webkit-animation: nudge .7s ease-in-out;
            animation: nudge .7s ease-in-out;
  }
}

@include media-breakpoint-up(xl){
  .content-wrapper {
    max-width: 1200px;
  }
}


@-webkit-keyframes nudge {
// rotate(-45deg)
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }

  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes nudge {

  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }

  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
