<section id="landing-home" class="container-fluid">
  <!-- banner -->

  <div class="banner">
    <div class="banner-logo">
      <img [src]=[bannerLogo] alt="PDKKI Melbourne Logo">
    </div>
    <div>
      <h1 class="banner-title">
        Welcome to
        <br/>
        <span>PDKKI Melbourne</span>
      </h1>
    </div>

  </div>

</section>

<section id="landing-about" class="container-fluid">
  <div class="content-wrapper">
    <h2 class="section-header">About Us</h2>
    <div class="text-wrapper">
      <article class="">
        <p>Persekutuan Doa Keluarga Katolik Indonesia (PDKKI) Melbourne adalah sebuah
        organisasi yang berada di bawah naungan Keluarga Katolik Indonesia (KKI) Melbourne.
        Menurut sejarahnya, Persekutuan Doa (PD) ini pertama kali dibentuk pada tahun 1997
        dengan nama PD Santa Maria, dan pada bulan Juli 1998 diresmikan menjadi bagian dari KKI dengan nama PDKKI Melbourne.</p>

      <br/>
        <p>PDKKI Melbourne, dengan segenap potensi yang berlandaskan pada iman dan ajaran Gereja Katolik,
        memiliki tujuan utama untuk membawa para anggota mengenal Yesus yang hidup, serta merasakan cinta
        kasih Allah yang sempurna dalam bimbingan Roh Kudus demi mencapai kehidupan yang kudus.</p>
      </article>
    </div>
  </div>
</section>


<section id="landing-activities" class="container-fluid">
<activities-view></activities-view>
</section>

<section id="landing-team" class="container-fluid">
  <team-view></team-view>
</section>

<section id="landing-contact" class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6">
      <h3 class="section-header-2">
        Contact Us
        <i class="fa fa-commenting anim-nudge" aria-hidden="true"></i>
      </h3>
      <article class="">
        <p>Feel free to send us an email for any question!</p>
        <p>Follow us on Facebook and Instagram to know what's going on and subscribe to our Youtube Channel</p>
      </article>

      <div class="row">
        <div class="col-12 col-xl-6">
          <div class="ct-link">
            <div class="ct-icon">
              <i class="fa fa-envelope-o fa-2x ct-icon" aria-hidden="true"></i>
            </div>
            <!-- mailto:pdkkimelbourneaus@gmail.com -->
            <a href="#">pdkkimelbourneaus@gmail.com</a>
          </div>
          <div class="ct-link">
            <div class="ct-icon">
              <i class="fa fa-youtube-play fa-2x ct-icon" aria-hidden="true"></i>
            </div>
            <!-- https://www.youtube.com/channel/UCaqQkfnTKtJQGn-9YSu9eeg -->
            <a href="#">PDKKI Melbourne</a>
          </div>
        </div>
        <div class="col-12 col-xl-6">
          <div class="ct-link">
            <div class="ct-icon">
              <i class="fa fa-facebook-square fa-2x ct-icon" aria-hidden="true"></i>
            </div>
            <!-- https://www.facebook.com/pdkkimelb -->
            <a href="https://www.facebook.com/pdkkimelb">PDKKI Melbourne</a>
          </div>
          <div class="ct-link">
            <div class="ct-icon">
              <i class="fa fa-instagram fa-2x ct-icon" aria-hidden="true"></i>
            </div>
            <!-- https://www.instagram.com/pdkkimelbourne/?hl=en -->
            <a href="https://www.instagram.com/pdkkimelbourne/?hl=en">@PDKKIMelbourne</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <h3 class="section-header-2">Join us! <i class="fa fa-hand-paper-o anim-nudge" aria-hidden="true"></i></h3>
      <p> Weekly Persekutuan Doa Every Saturday, 6.00pm</p>
      <br/>
      <p> 631 Bourke Street, Melbourne</p>
      <p>St. Augustine Church</p>
    </div>

  </div>
</section>
