/* for mobile */
@import
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables',
  '~bootstrap/scss/mixins';

@import "~scss/mixins";
@import "~scss/variables";


#landing-home {
  @extend %bg-fullscroll;
  @extend %full-view;
  @extend %padded;

  background-image:url("/assets/images/splash1.jpg");
  color: white;
}

.banner {
  position: absolute;
  bottom: 15%;
}

.banner-logo {
  display: block;
  height: 120px;

  margin-bottom: 50px;

  img {
    height: 100%;
    width: auto;
  }
}

.banner-title {
  font-size: 35px;
  span {
    font-weight: $gt-w-bold;
  }
}



#landing-about {
  @extend %padded;
  padding-bottom: 4.5em;

  .content-wrapper {
    @extend %flx;
    @include flx-dir(column);
  }

  .text-wrapper {
    flex-grow:2;
  }
}

#landing-activities {
  @extend %padded;

}

#landing-team {
  @extend %padded;
  padding-bottom: 4.5em;
}

#landing-contact {
  @extend %padded;

  background-color: $black-grey;
  color: $gray-brown;
}

.ct-icon {
  width: 3em;
  height: 3em;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.ct-link {
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

@include media-breakpoint-up(sm) {
  .banner-logo {
    height: 120px;
  }

  .banner-title {
    font-size: 55px;
  }
}

//  for tablet
@include media-breakpoint-up(md) {
  .banner-logo {
    height: 180px;
  }

  .banner-title {
    font-size: 75px;
  }
}


// for desktop
@include media-breakpoint-up(lg) {
  #landing-about {
    margin: {
      top: 3em;
      bottom: 3em;
    }
    .content-wrapper {
      @include flx-dir(row);
      align-items:flex-start;
      justify-content: space-around;
    }

    .section-header {
      text-align: right;
      font-size: 75px;
      padding: {
        right: .2em;
        left: .2em;
      }

      margin: {
        top: 0;
        right: 1em;
      }
      // background-color: $whitish-gray;
    }
  }

  .banner-logo {
    height: 220px;
  }

  .banner-title {
    font-size: 95px;
  }
}
