<nav id="nav-bar" [@fixNav]="this.state">
  <div class="logo-container">
    <img id="logo" [src]="logo" />
  </div>
  <ul class="nav-list pull-right">
    <li class="nav-item"><a href="">HOME</a></li>
    <li class="nav-item"><a href="#landing-about">ABOUT US</a></li>
    <li class="nav-item"><a href="#landing-team">OUR TEAM</a></li>
    <li class="nav-item"><a href="#landing-activities">ACTIVITIES</a></li>
  </ul>
</nav>
