#nav-bar
{
  z-index: 100;
  width: 100%;

  position: fixed;
  background-color: white;
  box-shadow: 0px 5px 36px -2px rgba(0,0,0,0.10);
}


  #logo
  {
    position: relative;

    object-fit: scale-down;
    object-position: 50% 50%;
  }

  .logo-container
  {
    position: relative;
    height: 60px;
    float:left;
  }

  .nav-list
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;

    position: relative;

    height: inherit;
    padding: 0px 5px 0px 5px;
    /* will try to look for alternative*/


  }

  .nav-item
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    position: relative;
    padding: 10px 15px 10px 15px;

    min-height: 40px;
        height: inherit;
  }

  .nav-item:hover, .nav-item a:hover
  {
    background-color: #F8F8F8;
    -webkit-transition: background-color .2s ease-in;
            transition: background-color .2s ease-in;

    color: #f26b3c;
  }

  .nav-item a {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #444444;

  }


/* For tablets: */
@media only screen and (min-width: 600px) {


}

/* For desktop: */
@media only screen and (min-width: 768px) {


  #logo
  {
    position: relative;
    height: 100%;
  }

  .logo-container
  {
    position: relative;
    height: 60px;
    float:left;
  }

  .nav-list
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;

    position: relative;

    height: inherit;
    padding: 0px 5px 0px 5px;
    /* will try to look for alternative*/


  }

  .nav-item
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    position: relative;
    padding: 10px 15px 10px 15px;

    min-height: 40px;
        height: inherit;
  }

  .nav-item:hover, .nav-item a:hover
  {
    background-color: #F8F8F8;
    -webkit-transition: background-color .2s ease-in;
            transition: background-color .2s ease-in;

    color: #f26b3c;
  }

  .nav-item a {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #444444;

  }


}
